.layout-container {
  height: 100%;
  display: flex;
  flex-direction: row;

  .side-bar-wrapper {
    height: 100%;
    width: 250px;
  }

  .content-wrapper {
    overflow-y: visible;
    padding: 32px;
    flex: 1;
  }
}