:root {
  --skillhub-background: #161616;
  --skillhub-background-secondary: #313131;
  --skillhub-placeholder-text: #bfbfbf;
  --skillhub-primary: #EC7210;
  --skillhub-primary-hover: #D65A0A;
  --skillhub-secondary: #F0C244;
}
